[submodule "external/pytorch-superpoint"]
	path = external/pytorch-superpoint
	url = git@github.com:changhaonan/pytorch-superpoint.git
[submodule "external/r2d2"]
	path = external/r2d2
	url = git@github.com:YuqiuGan/r2d2.git
